

<div id="wraper">
  <div class="container color-dark" [@images]="images.length">
  <div *ngFor="let image of images, let i = index" class="col">
    <img (click)="zoomMe(image, i)" src="{{ image.src }}" alt="" />
  </div>
</div>
<div class="panes" [@slide]="activePane">
  <div *ngIf="zoomImage">
    <div [@fade]="fadeState" (@fade.done)="onDone($event)" >
    <img  [@imgZoom]='zoomImage.state' (click)="zoomMeMore(zoomImage)" src="{{zoomImage.src}}" alt="" />
    </div>
    <br>
    <a *ngIf="currIndex>0" href="#" (click)="preImg();">&lt; Prev</a> &nbsp; <a href="#" (click)="backslide();">back</a> &nbsp; <a href="#" *ngIf="currIndex<totalImages-1" (click)="nxtImg();">Next &gt;</a>
  </div>
</div>
</div>